###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var
/vendor
/public/bundles/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> local ###
.idea
/composer.lock
###< local ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
